body{
    background-color: #322f41;
    font-family: 'Inter', sans-serif;
}
#divBox{
    border: solid rgb(0, 0, 0); 
    border-radius: 15px;
    background-color: crimson;
    position: relative;
    width: 86%;
    height: 720px;
    margin: 15px auto auto auto; 
}
#divLogo{
    position: absolute;
    margin-left: 60px;
    margin-top: 40px;
    width: 38px;
}#divLogo:hover{
    width: 40px;
}
#aluraLogo{
    width: 100%;
}
#outputRect{
    position: absolute;
    border-radius: 25px;
    width: 346px;
    height: 660px;
    background-color: #a9a9a96f;
    color: aqua;
    right: 40px;
    margin-top: 30px;
    word-wrap: break-word;
}
#divMuñeco{
    position: absolute;
    width: 290px;
    margin-top: 120px;
    margin-left: 28px;
}
#imgMuñeco{
    width: 100%;
}
#noMessage{
    position: absolute;
    width: 266px;
    margin-left: 40px;
    text-align: center;
    margin-top: 405px;
    font-size: 24px;
    font-weight: 700;
    font: bolder;
}
#noMessage2{
    position: absolute;
    width: 266px;
    margin-left: 40px;
    margin-top: 475px;
    text-align: center;
    font-size: 16px;
}
#idTextArea{
    position: absolute;
    color: aqua;
    background-color: transparent;
    width: 600px;
    height: 380px;
    margin-left: 215px;
    margin-top: 150px;
    font-family: 'Inter';
    font-size: 30px;
    font-weight: 400;
    border: none; 
    resize: none; 
    outline: none;
}
::-webkit-input-placeholder {
    color: aqua;
}
#divButtons{
    position: absolute;
    width: 600px;
    height: 50px;
    margin-left: 200px;
    margin-top: 620px;
    text-align: center;
}
#encriptarBtn{
    background-color: aqua;
    border: solid 1px aqua;
    color: #000;
    border-radius: 15px;
    width: 46%;
    height: 50px;
    margin-right: 3%;
    display: inline-block;
    font-size: 15px;
}#encriptarBtn:hover{
    background-color: darkcyan;
    font-size: 16px;
    cursor: pointer;
}
#desencriptarBtn{
    background-color: #E5E5E5;
    border: solid 1px aqua;
    color: #000;
    border-radius: 15px;
    width: 46%;
    height: 50px;
    display: inline-block;
    font-size: 15px;
}#desencriptarBtn:hover{
    background-color: hotpink;
    font-size: 16px;
    cursor: pointer;
}
#rulesMsg{
    color: #b3ca4e;
    position: absolute;
    margin-left: 220px;
    margin-top: 580px;
    font-weight: 400;
}
#idExclamation{
    width: 19px;
    font-size: 20px;
    font-weight: 200;
    vertical-align: text-top;
}
.invisible{
    display: none;
}
#resultText{
    position: absolute;
    width: 276px;
    font-size: 25px;
    margin-top: 40px;
    margin-left: 35px;;
}
#copyBtn{
    position: absolute;
    background-color: #e0e19b;
    border: solid 1px aqua;
    color: #000;
    border-radius: 15px;
    width: 276px;
    height: 50px;
    font-size: 15px;
    margin-top: 590px;
    margin-left: 35px;;    
}#copyBtn:hover{
    background-color: #cccc5e;
    font-size: 16px;
    cursor: pointer;
}
#autor{
    position: absolute;
    margin-left: 60px;
    margin-top: 636px;
    color: #072850;
    font-size: 20px;
    font-weight: 700;
}#autor:hover{
    color: #072850;
    font-size: 22px;
    cursor: pointer;
}
